body{
 font-family: Poppins;
 margin: 24px;
 background: #0f0f0f;
 color: #505050;
 font-family: 'Open Sans', sans-serif;

}

body h1{
    color: #fff;
    text-align:  center;
    margin : 60px auto;
    font-size: 40px;
    font-weight: 400;
}
 p{
     text-align: center;
     color: grey;
     font-weight: 300;
     margin-top: 10px;
 }

 .wall-item{
     display: block;
     margin: 0 0 24px 0;
     padding: 12px;
     background: #1e1e1e;
     transition: all 200ms;
 }

 .wall-item:hover {
     transform: translateY(-6px);
     transition: all 200ms;
 }

 .wall-item > img {
     display:  block;
     width: 100%;
     margin: 0 0 30px 0;
 }
 
.wall-item h2 {
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Roboto Slab', serif;

}

.wall-column {
    display: block;
    position: relative;
    width: 33.3333%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .wall-column {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .wall-column {
        width:40px;
        float: none;
    }
}

* {
    padding: 0;
    margin: 0;
    border:0;
    list-style: none;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap');

ul.menu {
    background: #D32F2F; 
    height: 50px;
}

ul.menu > li {
    float: left;
  position: relative;
}

ul.menu >li >a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    line-height: 50px;
}

ul.menu ul {
    background: #E57373;
    width: 200px;
    position: absolute;
    top: 50px;
    left:0;
    opacity: 0;
    transition: 250ms all;
    visibility: hidden;
}

ul.menu ul li a {
    display: block;
    padding: 7px 12px;
    color: #fff;
    font-size: 14px;
}

ul.menu >li:hover ul {
    opacity: 1;
    display: block;
    visibility: visible;
}

.logo{
    position:0 0 0 ;
    width:175px;
    height:50px ;
}

#slider{position:relative;margin:0 auto;width:950px;height:400px;overflow:hidden;}
#slider img{width:950px;height:400px;}
#slider li{list-style:none;}
.sliderbutton{position:relative;margin:0 auto;width:120px;margin-top:-25px;}
.sliderbutton li{list-style: none;padding:5px;background:red;float:left;margin-right:10px;border-radius:10px;}
.sliderleft{cursor:pointer;background:rgba(0,0,0,0.2);position:absolute;width:50px;height:400px;line-height:400px;}
.sliderright{margin-left:900px;cursor:pointer;background:rgba(0,0,0,0.2);position:absolute;width:50px;height:400px;line-height:400px;}